.header {
  height: 80px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: table;
  text-align: center;
  width: 100%;
  background: #333c5f;
}

.header .title {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.videoContainer {
  position: relative;
  width: 100%;
}

.video {
  position: absolute;
  width: 100%;
  max-width: 700px;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
}
